version: "3.9"

services:
  app:
    build: .
    container_name: taskqueue-app
    ports:
      - "8080:8080"
    environment:
      - REDIS_ADDR=redis:6379
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: taskqueue-redis
    ports:
      - "6379:6379"

  prometheus:
    image: prom/prometheus:latest
    container_name: taskqueue-prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
      - app

  grafana:
    image: grafana/grafana:latest
    container_name: taskqueue-grafana
    ports:
      - "3000:3000"
    volumes:
    - ./monitoring/grafana-data:/var/lib/grafana
    depends_on:
      - prometheus
